{% extends 'base.html' %}
{% block content %} 
{% load staticfiles %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            </div>
                <div id="main">
                    <H1 class="text-center">OH! MY LADY GAGA!!</H1>
                    <H1 class="text-center">U ARE SO EARLY, BUT I AM NOT READY YET</H1>
                    <H1 class="text-center">你瞅啥？你来早了，知道不！</H1>
                    <img class="img-responsive center-block" src="{% static 'img/not_ready.jpeg' %}"" class="img-rounded">
                </div>
        </div>
    </div>
{% endblock %}