<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Mygrooming</title>
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments/github.css' %}">
</head>
<body style="padding-top:75px">
<div class="navbar navbar-default navbar-fixed-top">
<div id="header">
  
    <div id="header-warp">
        <a href="{% url 'homepage:index' %}" title="Project Summary" id="logo"></a>
        <ul id="header-nav">
            <li><a href="{% url 'grooming:feature_index' %}">Feature</a></li>
        </ul>  
        <ul id="header-nav">
            <li><a href="{% url 'grooming:grooming_index' %}">Grooming</a></li>
        </ul>       
        <ul id="header-nav">
            <li><a href="{% url 'robotcase:robotcase_index' %}">RobotCase</a></li>
        </ul>
        <ul id="header-nav">
            <li><a href="http://10.68.162.130/rcp_rfdoc/">KeyWord</a></li>
        </ul>
        <div id="header-right" class="login">
            <div id="user-info">
                <span id="dropdown-button">LogIn</span>
            </div>
        </div>
    </div>
  </div>  
</div>

{% block content %}{% endblock %}

<div id="footer" class="noselect">
    <div id="copyright">&copy; grooming2robot</div>
</div>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script>

</body>
</html>